<div class="card">
   
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
        <button pButton pRipple label="Agegrar Contacto"  class="p-button-success p-mr-2" (click)="openNew()"></button>
    </ng-template>
  </p-toolbar>
    <p-table #dt [value]="contactos" [rows]="10" [paginator]="true" [globalFilterFields]="['nombre','entidad','email']"
        [(selection)]="selectedContactos" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <h2 class="p-m-0">Contactos</h2>
                <span class="p-input-icon-left">
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Buscar..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem"></th>
                <th pSortableColumn="nombre">Nombre </th>
                <th pSortableColumn="entidad">Entidad </th>
                <th pSortableColumn="email">Email </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-contacto>
            <tr>
                <td></td>
                <td>{{contacto.nombre}}</td>
                <td>{{contacto.entidad}}</td>
                <td>{{contacto.email}}</td>
                <td>
                    <button pButton pRipple label="Editar" class="p-button-rounded p-button-success p-mr-2" (click)="editContacto(contacto)"></button>
                    <button pButton pRipple label="Eliminar" class="p-button-rounded p-button-warning" (click)="deleteContacto(contacto)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
               En total hay {{contactos ? contactos.length : 0 }} contactos.
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="contactoDialog" [style]="{width: '450px'}" header="Detalle de contacto" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field">
            <label for="nombre">Nombre</label>
            <input type="text" pInputText id="nombre" [(ngModel)]="contacto.nombre" required autofocus />
            <small class="p-error" *ngIf="submitted && !contacto.nombre">Nombre es requerido.</small>
        </div>
        <div class="p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="entidad">Entidad</label>
                <input type="text" pInputText id="entidad" [(ngModel)]="contacto.entidad" required autofocus />
              </div>
            <div class="p-field p-col">
                <label for="email">Email</label>
                <input type="text" pInputText id="email" [(ngModel)]="contacto.email" required autofocus />
              </div>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar"  class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Guardar"  class="p-button-text" (click)="saveContacto()"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>